* {
  box-sizing: border-box;
}
@font-face {
    font-family: "Taamey Frank";
    src: url(/fonts/TaameyFrankCLM-Medium.ttf) format("truetype");
}
.enSerif {
  font-family: 'EB Garamond', 'Crimson Text', serif;
  direction: ltr;
}
.heSerif {
  font-family: "Taamey Frank", "Times New Roman", serif;
  direction: rtl;
}
.enSans {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", arial, sans-serif;
  direction: ltr;
}
.heSans {
  font-family: "Heebo", sans-serif;
  direction: rtl;
}
html {
  background-color: white;
}
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.sefaria-logo-link {
  display: flex;
  align-items: center;
}
.sefaria-logo {
  width: 92px;
}
.mega-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.text-title-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-topic {
  display: block;
  margin-bottom: 0;
}
.text-title {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  padding: 10px;
  width: fit-content;
  align-self: center;
  border-bottom: 4px solid #E6E5E6;
  cursor: pointer;
}
.text-title a {
  text-decoration: none;
  color: black;
}
.text-container-outer {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.text-container-loading {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'EB Garamond', 'Crimson Text', serif;
}
.text-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  max-width: 700px;
  font-size: 30px;
  padding-bottom: 100px;
}
.segmentOuter {
  text-decoration: none;
  color: black;
}
.segment {
  padding-right: 10px;
  padding-left: 10px;
}
.segment:hover {
  background-color: #e9e9e7;
}
.segmentInner {
  display: flex;
  flex-direction: row;
}
.segmentText {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.heWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.enWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.verseNumber {
  font-size: 15px;
  color: #999;
  padding-top: 32px;
}
.verseNumberEn {
  padding-top: 37px;
}
.he {
  font-size: 30px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}
.en {
  font-size: 25px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
  line-height: 50px;
}
.he.bi {
  padding: 20px 20px 5px 20px;
}
.en.bi {
  padding: 5px 20px 20px 20px;
  color: #666;
}
.text-chooser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: #F9F9F7;
  border-bottom: 1px solid #ddd;
}
.categoryColorLine {
  width: 100%;
  height: 6px;
  background-color: red;
}
.choiceWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}
.choice:hover {
  background-color: white;
}
.choice.selected {
  background-color: white;
}
.parashahHeader {
  text-align: center;
  color: #8e8e8e;
  margin: 32px 0;
  font-size: 25px;
  letter-spacing: 1px;
}
.parashahHeader.aliyah{
  color: #bebebe;
  font-size: 22px;
  text-transform: uppercase;
}
.langToggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  flex: 1;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.langToggle .letter {
  font-weight: normal;
  display: flex;
  align-items: center;
  color: #999;
  cursor: pointer;
}

.langToggle .letter.selected {
  color: black;
}

.langToggle .aye {
  font-size: 24px;

}
.langToggle .aleph {
  font-size: 30px;
  padding-left: 6px;
  margin-bottom: -7px;

}
.header {
  display: flex;
  flex-direction: row;
  height: 54px;
  align-items: center;
}
.headerButtonsLeft {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.menuButton {
  font-size: 24px;
  line-height: 24px;
  padding-left: 6px;
  text-decoration: none;
  color: #999;
  padding-right: 10px;
}
.menuButton.search {
  font-size: 17px;
}
.searchInput {
  outline: none;
  border: none;
  box-shadow: none;
  color: black;
  font-size:  18px;
  font-family: "adobe-garamond-pro", Georgia, serif;
  vertical-align: 1px;
  margin: 0;
}
.headerInvisible {
  flex: 1;
  margin-left: 40px;
}
.hidden {
  visibility:hidden;
}
