* {
  box-sizing: border-box;
}
.enSerif {
  font-family: 'EB Garamond', 'Crimson Text', serif;
  direction: ltr;
}
.heSerif {
  font-family: "Frank Ruehl Libre", "Taamey Frank", "Times New Roman", serif;
  direction: rtl;
}
html {
  background-color: white;
}
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.sefaria-logo {
  height: 22px;
}
.mega-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.text-title-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-title {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  padding: 10px;
  width: fit-content;
  align-self: center;
  font-family: 'EB Garamond', 'Crimson Text', serif;
  border-bottom: 4px solid #E6E5E6;
}
.text-title a {
  text-decoration: none;
  color: black;
}
.text-title a:hover {
  text-decoration: underline;
}
.text-container-outer {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.text-container-loading {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'EB Garamond', 'Crimson Text', serif;
}
.text-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  max-width: 700px;
  font-size: 30px;
  font-family: 'EB Garamond', 'Crimson Text', serif;
}
.he {
  font-size: 30px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}
.en {
  font-size: 25px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
  line-height: 50px;
}
.text-chooser {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F9F9F7;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.categoryColorLine {
  width: 100%;
  height: 6px;
  background-color: red;
}
.choiceWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px;
  max-width: 200px;
  cursor: pointer;
}
.choice:hover {
  background-color: white;
}
.choice.selected {
  background-color: white;
}
