* {
  box-sizing: border-box;
}
.enSerif {
  font-family: 'EB Garamond', 'Crimson Text', serif;
  direction: ltr;
}
.heSerif {
  font-family: "Frank Ruehl Libre", "Taamey Frank", "Times New Roman", serif;
  direction: rtl;
}
.enSans {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", arial, sans-serif;
  direction: ltr;
}
.heSans {
  font-family: "Heebo", sans-serif;
  direction: rtl;
}
html {
  background-color: white;
}
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.sefaria-logo {
  height: 22px;
}
.mega-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.text-title-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-topic {
  display: block;
  margin-bottom: 0;
  border-top: 4px solid #E6E5E6;
}
.text-title {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  padding: 10px;
  width: fit-content;
  align-self: center;
  border-bottom: 4px solid #E6E5E6;
}
.text-title a {
  text-decoration: none;
  color: black;
}
.text-title a:hover {
  text-decoration: underline;
}
.text-container-outer {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.text-container-loading {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'EB Garamond', 'Crimson Text', serif;
}
.text-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  max-width: 700px;
  font-size: 30px;
}
.heWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.enWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.verseNumber {
  font-size: 15px;
  color: #999;
  padding-top: 35px;
}
.he {
  font-size: 30px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}
.en {
  font-size: 25px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
  line-height: 50px;
}
.text-chooser {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: #F9F9F7;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.categoryColorLine {
  width: 100%;
  height: 6px;
  background-color: red;
}
.choiceWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}
.choice:hover {
  background-color: white;
}
.choice.selected {
  background-color: white;
}
.parashahHeader {
  text-align: center;
  color: #8e8e8e;
  margin: 32px 0;
  font-size: 25px;
  letter-spacing: 1px;
}
.parashahHeader.aliyah{
  color: #bebebe;
  font-size: 22px;
  text-transform: uppercase;
}
.langToggle {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  margin-right: 40px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.langToggle .letter {
  font-weight: normal;
  display: flex;
  align-items: center;
  color: #999;
}

.langToggle .letter.selected {
  color: black;
}

.langToggle .aye {
  font-size: 30px;
  margin-bottom: -15px;

}
.langToggle .aleph {
  font-size: 38px;
  padding-left: 6px;
  margin-bottom: -10px;

}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headerInvisible {
  flex: 1;
}
